*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
  --Lerouge: #9D1815;
}
body{
background: #EBF3F3;
margin: 0;
height: 100vh; /*This centers vertically within the viewport*/
margin: 0; /* Remove default margin to center horizontally */
font-family: 'Odibee Sans', sans-serif;
}

/* ALEX  */

.header { 
 text-align: center; 
 background-color: #5797A0;
}


.skeleton{
  width: 60%;
}

.skeleton { 
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
} /* Code qui donne un effet de flottement à l'image */

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); } 
}
/* ALEX FIN */
main {
  width: 100%;
}

h2 {
  color: var(--Lerouge);
  font-size: 3rem;
}
/* LOANA et ALINA CARTE*/

.section_carte {
  width: 75%;
  margin: auto;
}
svg {
    width: 100%;
      }

.map{
  margin-top: 0;
}

.map h1{
  color: #9D1815;
  font-size: 4rem;
  text-align: center;
  
}
.map_image{
  margin: auto;
}
.map_image path , polygon{
  fill: #5797A0;
  transition: fill 0.3s;
  stroke-width: 0.5;
}

.map_image path:hover{
  fill: #9D1815;
  transition: fill 0.3s;
  stroke:#9D1815 ;

}

.map_image polygon:hover{
  fill: #9D1815;
  transition: fill 0.3s;
  stroke:#9D1815;

}

.effet{
  
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 29%;
  -webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

/* description qui s'affiche au moment du hover sur la carte */
.description {
  display: flex;
  width: 30vw;
  align-items: center;
  margin: auto;
  margin-right: 5vw;
}

.info_sup p {
margin: 0;
}
.info_sup h3 {
margin: 0;
margin-bottom: 5px;
font-size: 2rem;
color: var(--Lerouge);
}
.cercle {
  border: solid var(--Lerouge);
  border-width: 1.5vw;
  border-radius: 100%;
  width: 10vw;
  height: 10vw;
  max-width: 110px;
  max-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--Lerouge);
  margin-right: 10px;
}

.mini_cercle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: solid 3px var(--Lerouge);
  border-radius: 100%;
  pointer-events: none;
  display: none;
}
.visible {
  display: block;
}
/* LOANA FIN */

/* ALINA */
.graph {
height: 90vh;
background-color: #1F5766;

}


.graph h2{
  color: aliceblue;
  
  
}
.boutons {
  margin-bottom: 20px;
}
 
.graphiqueinfo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.graphiqueboutons {
  width: 100%;
  margin-right: 50px;
}
.graph input[type="button"]{
   text-align:center;
   background-color: rgba(0, 0, 0, 0.445);
   color: white;
   padding: 10px;
   margin: 10px;
   border: none;
   border-radius: 5px;
   font-family: "Poppins";
   cursor: pointer;
  }

  .graph input[type="button"]:hover{
    background-color:#9D1815;
  }


.info {
  width: 30vw;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.info img {
  width: 100%;
}
/* ALINA FIN */