*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
background: rgb(8, 120, 151);
background: linear-gradient(90deg, rgba(31,87,102,1) 41%, rgba(0,212,255,1) 100%);
height: 100vh; /*This centers vertically within the viewport*/
margin: 0; /* Remove default margin to center horizontally */
}

/* ALEX  */
.skeleton { 
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
} /* Code qui donne un effet de flottement à l'image */

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); } 
}
/* ALEX FIN */

/* LOANA */

svg {
    width: 100%;
	/* border: solid yellow; */
	
      }

.map__image path , polygon{
  fill: rgb(102, 102, 230);
  transition: fill 0.3s;
  /* stroke: beige; */
  stroke-width: 0.5;
}

.map__image path:hover{
  fill: rgb(177, 177, 197);
  transition: fill 0.3s;
  stroke:rgb(177, 177, 197) ;

}

.map__image polygon:hover{
  fill: rgb(177, 177, 197);
  transition: fill 0.3s;
  stroke:rgb(177, 177, 197) ;

}
/* LOANA FIN */

/* ALINA */
.graph {
height: 90vh;
background-color: #1F5766;
}
.boutons {
  margin-bottom: 20px;
}
.graphique{
  border: solid palegreen;
  width: 100%;
  height: 100%;
}
.graphiqueinfo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.graphiqueboutons {
  width: 100%;
  margin-right: 50px;
}
.graph input[type="button"]{
   text-align:center;
   background-color: rgba(0, 0, 0, 0.445);
   color: white;
   padding: 5px;
   border: none;
  }
.info {
  width: 20vw;
  color: white;
}
.info img {
  width: 100%;
}
/* ALINA FIN */