*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
/* background: rgb(8, 120, 151); */
background: linear-gradient(90deg,rgb(77, 139, 156) 41%, rgb(0, 212, 255) 100%);
margin: 0;
height: 100vh; /*This centers vertically within the viewport*/
margin: 0; /* Remove default margin to center horizontally */
font-family: 'Odibee Sans', sans-serif;
}

/* ALEX  */



.header { 


 text-align: center;
 

  

}

main {

  width: 100%;
  


}

.skeleton{
  width: 60%;
 
}

.skeleton { 
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
} /* Code qui donne un effet de flottement à l'image */

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); } 
}
/* ALEX FIN */

/* LOANA */

svg {
    width: 100%;

	
      }

.map{
  margin-top: 0;
  background-color: #EBF3F3;
}

.map h1{
  color: #9D1815;
  font-size: 4rem;
  text-align: center;
  
}
.map__image{
  width: 75%;
}
.map__image path , polygon{
  fill: #5797A0;
  transition: fill 0.3s;
  /* stroke: beige; */
  stroke-width: 0.5;
}

.map__image path:hover{
  fill: #EBF3F3;
  transition: fill 0.3s;
  stroke:#EBF3F3 ;

}

.map__image polygon:hover{
  fill: #EBF3F3;
  transition: fill 0.3s;
  stroke:#EBF3F3;

}
/* LOANA FIN */

/* ALINA */
.graph {
height: 90vh;
background-color:inherit;
}
.boutons {
  margin-bottom: 20px;
}
.graphique{
  border: solid palegreen;
  width: 100%;
  height: 100%;
}
.graphiqueinfo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.graphiqueboutons {
  width: 100%;
  margin-right: 50px;
}
.graph input[type="button"]{
   text-align:center;
   background-color: rgba(0, 0, 0, 0.445);
   color: white;
   padding: 5px;
   border: none;
  }
.info {
  width: 20vw;
  color: white;
}
.info img {
  width: 100%;
}
/* ALINA FIN */